body{
  text-align: center;
}
.productContainer{
  display: flex;
  flex-wrap: wrap;
}
.productContainer > .link {
  width: 300px;
  box-shadow: 0 0 10px #463636;
  margin: 10px;

}.productContainer > .link:hover {
  background-color: lightgrey;

}
.nav {
background-color:lightblue;
padding-top: 0px;
}
.home{
  margin-left: 10px;
  margin-bottom: 20px;
  text-align: justify;
  font-size: 30px;
}
.about{
  margin-left: 10px;
  margin-bottom: 20px;
  text-align: justify;
  font-size: 30px;
}
.product{
  margin-left: 10px;
  margin-bottom: 20px;
  text-align: justify;
  font-size: 30px;
}

  
  .header {
    font-size: 70px;
    
  }
 .foot{
   margin-top: 27%;
 }
  