body{
  text-align: center;
}
.productContainer{
  display: flex;
  flex-wrap: wrap;
}
.productContainer > navlink {
  text-align: center;
  width: 300px;
  box-shadow: 0 0 10px #463636;
  margin: 10px;

}.productContainer > navlink:hover {
  background-color: lightgrey;

}